# Copia esto a .env local en tu máquina
S3_ENDPOINT_URL=https://wcqdtudunvfmpemvyaym.supabase.co/storage/v1
S3_ACCESS_KEY=tu_service_role_key
S3_SECRET_KEY=tu_service_role_key
S3_BUCKET=nimbusvault
S3_REGION=us-east-1
S3_USE_SSL=true
S3_PATH_STYLE=true
